go 1.26.4

use (
	./aula-08-confiabilidade
	./aula-fila-worker-pool
	./contract-tests
	./exercicio
	./exercicio-aula-08
	./legado
	./refatorado
	./refatorado_com_cache
	./refatorado_com_pprof
	./refatorado_com_slog
)
